@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6) ;
}

.container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 20px 25px;
    border-radius: 5px;
}

.container #close-login-btn{
    cursor: pointer;
}
.container .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    display: flex;
    justify-content: center;
    align-items: center;
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 70px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6) ;
}

.container form .user-details{
    display: grid;
    justify-content: center;
    padding: 50px;
}
.user-details .input-box input{
    height: 50px;
    width: 100%;
    margin: 10px 5px 10px 2px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}
.btn{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.btn input{
    padding: 10px;
    width: 30%;
    font-size: 16px;
    font-weight: 400;
    color: beige;
    background-color: #71b7e6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.btn input:hover{
    background-color: #9b59b6;
}